# generated
/coverage
/build

# os bs
._*
.DS_Store
.Spotlight-V100
.Trashes
Desktop.ini
Thumbs.db

# node
*.tgz
.env
.env.*
.eslintcache
.lock-wscript
.npm
.nyc_output
.yarn-integrity
bower_components
coverage
jspm_packages/
lib-cov
node_modules/

# vscode
.vscode
.project
.cache

# elixir
*.ez
/_build
/cover
/deps

# emacs
*.elc
*.rel
*_archive
*_flymake.*
*~
.#*
.cask/
.dir-locals.el
.org-id-locations
.projectile
/.emacs.desktop
/.emacs.desktop.lock
/auto/
/elpa/
/eshell/history
/eshell/lastdir
/server/
\#*\#
auto-save-list
dist/
flycheck_*.el
tramp

# erlang
*.beam
*.o
*.plt
.concrete/DEV_MODE
.eunit
.rebar
deps
ebin/*.beam
erl_crash.dump
rel/example_project

# purescript
.psci
.psci_modules
output

# python
*.pyc

# ruby
*.rbc
.rspec
.rvmrc
/.bundle
/db/*.sqlite3
/db/*.sqlite3-journal
/log
/tmp
/vendor/bundle
config/initializers/secret_token.rb

# sass
*.css.map
.sass-cache/

# logs
*.log
logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# runtime data
*.pid
*.pid.lock
*.seed
pids
